* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.game-board {
  width: 80%;
  height: 500px;
  border-bottom: 15px solid rgb(13, 155, 13);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f0ff);
}
.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}
.jump{
    animation: jump 500ms infinite ease-out; 

}

.pipe {

    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.clouds {
    position: absolute;
    width: 500px;
    animation: clouds-animation 10s infinite linear;
}

.game-over-logo {
  display: none; 
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 600px; 
  height: auto;
  z-index: 1000; 
}
@keyframes pipe-animation {

    from  {
        right: -80px;
    }
    to {
        right: 100%;
    }
    
}

@keyframes jump{

    0%  {
        bottom: 0;
    }
    40%{
        bottom: 250px;
    }
    50% {
        bottom: 250px;
    }
    60% {
        bottom: 250px;
    }
    100% {
        bottom: 0;
        
    }

 }

 @keyframes clouds-animation {

from {
    right: -550px;
}
    to {

 right: 100%;
    }
}
 